.todoList{
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    padding: 10px;
    padding-bottom: 40px;
    width: 200px;
    border: solid;
    border-color: rgb(125, 125, 125, .7);
}

.todoListHeader {
    margin-left: 50px;
    font-size: 20px;    
    margin-bottom: 10px;
}

.inputContainer{
 position: absolute; 
 margin-top: 10px;
}

.todoInput{    
    width: 140px;
} 

.addTodoItem{
    margin-left: 5px;
}  

