.icon {    
    margin-left: 10px;
}

.check{
    color: rgb(10, 118, 213);
}

.trash{
    color: red;
}

.completedcontent{
    display: inline;
    color: green;
    width: 50px;
}

.incompletedcontent{
    display: inline;
    color: black;
    width: 50px;
}

.singleRow{
    display: flex;
}

.itemWrapper{
    flex: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.iconWrapper{
    flex: 3;
}
