.todoList{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 80%;
    background-color: bisque;
    height: 100%;
}

.todoInput{
    position: fixed;
    left: 80%;
    margin-right: 2%;
    /* width: 16%; */
}

.addicon{
    position: fixed;
    right: 2%;
}