.topBar{
    height: 50px;
    width: 100%;
    background-color: rgb(199, 193, 186);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.navBarDest{
    padding: 30px;
    list-style: none;
}

a:link { text-decoration: none; }
a:hover { text-decoration: underline; }