.ownedTitle{
    margin-top: 20px;
    margin-left: 45px;
    font-size: 25px;
    font-weight: 350;
}

.ownedNotes{
    display: flex;
}

.sharedTitle{
    margin-top: 0px;
    margin-left: 45px;
    font-size: 25px;
    font-weight: 350;
}

.sharedNotes{
    display: flex;
}

.buttonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createNewNoteButton{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #2ba54a;
    border-radius: 5px;
    /*
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    */
    padding: 10px;
    cursor: pointer;
}