.home{
    display: flex;
}

.createNewNoteButton{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 10px;
    color: rgb(236, 232, 232);
    border: none;
    background-color: #88b7df;
    border-radius: 10px;
}